In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\sai hassan baba\appdata\local\programs\python\python310\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\sai hassan baba\appdata\local\programs\python\python310\lib\site-packages (from pymongo) (2.2.1)

In [3]:
from pymongo import MongoClient
client = MongoClient('localhost',27017)

In [5]:
db=client["Crudoperations"]

In [6]:
collection=db["records"]

In [11]:
data=[ 
   { "age": 30, "name": "hassan", "place": "vijaywada", "phone number":7702436651},
   { "age": 41, "name": "sai", "place": "hyderabad", "phone number":9618758468},
   { "age": 22, "name": "maanya", "place": "machilipatnam", "phone number":9515709468},
   { "age": 33, "name": "varun" , "place": "tuni", "phone number":996881232}
]

In [12]:
 #create operation    
collection.insert_many(data)

In [13]:
#read operation
for i in collection.find():
    a=i

In [14]:
a

{'_id': ObjectId('636147e4dbbf6d1b7002d54a'),
 'age': 33,
 'name': 'varun',
 'place': 'tuni',
 'phone number': 996881232}

In [26]:
#update in the collection
collection.update_one(
    { "place" : "hyderabad"},
    {
        "$set":{"age":12,"phone number":123456789},
    }
)

In [27]:
for i in collection.find():
    print(i)

{'_id': ObjectId('636147e4dbbf6d1b7002d547'), 'age': 30, 'name': 'hassan', 'place': 'vijaywada', 'phone number': 7702436651}
{'_id': ObjectId('636147e4dbbf6d1b7002d548'), 'age': 12, 'name': 'sai', 'place': 'hyderabad', 'phone number': 123456789}
{'_id': ObjectId('636147e4dbbf6d1b7002d549'), 'age': 22, 'name': 'maanya', 'place': 'machilipatnam', 'phone number': 9515709468}
{'_id': ObjectId('636147e4dbbf6d1b7002d54a'), 'age': 33, 'name': 'varun', 'place': 'tuni', 'phone number': 996881232}

In [29]:
#delete operation
collection.delete_one({"name":"hassan"})

In [30]:
for i in collection.find():
    print(i)

{'_id': ObjectId('636147e4dbbf6d1b7002d548'), 'age': 12, 'name': 'sai', 'place': 'hyderabad', 'phone number': 123456789}
{'_id': ObjectId('636147e4dbbf6d1b7002d549'), 'age': 22, 'name': 'maanya', 'place': 'machilipatnam', 'phone number': 9515709468}
{'_id': ObjectId('636147e4dbbf6d1b7002d54a'), 'age': 33, 'name': 'varun', 'place': 'tuni', 'phone number': 996881232}